# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env
*.env

# VSCode
.vscode/

# Pytest cache
.pytest_cache/

# Mac junk
.DS_Store

# UV Tools
.uv/
